<style>
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container">
    <h1> Olá {{name}}</h1>
    <span>Você solicitou alteração de senha</span>
    <span>Para realizar a mudança cliquer no link abaixo</span>
    <span><a href={{link}}>{{link}}</a></span>
    <span>Se não foi você que realizou essa solicitação, basta ignorar o email</span>

    <span>RentalX</span>
</div>
